.news-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0;
}

.news-item{
    display: grid;
    place-items: center;
    max-width: 350px;
    margin: 20px 5px;
    padding: 5px;
    padding-top: 0;
    background-color: white;
    transition: transform 500ms;
}


.news-item:hover {
    transform: scale(110%);
    box-shadow: rgb(219, 219, 219) 0px 5px 5px;
}

.news-item img {
    width: 100%;
    margin-top: 0;
}
.news-item a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.news-item a:hover {
    text-decoration: underline;
    color: black;
}